@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.cardH3{
   margin-left: 10px;
   text-align: left;
   margin-top: 20px;
   padding-right: 80px;
   padding-top:  10px;
   font-weight:  700;
   color: black;
   font-family: "Fredoka", sans-serif;
   font-weight: bold;
}
.cardScall{
   width: 370px;
   height: 180px;
   border-radius: 20px;

}
.don-card{
  
      height: 440px;
      width:340px;  
}

@media (max-width: 1300px){
   .cardScall{
      width: 92%;
      height: 98%;
      border-radius: 20px;
   }
   .don-card{
  
      height: 100%;
      width:100%;  
   }

}
@media (max-width: 1450px)and (min-width: 1300px){
   .don-card{
  
      height: 480px;
      width:100%;  
   }
   .fs-7{
      font-size: 0.75rem !important;
   }
   .cardScall{
      width: 100%;
      flex: 0 0 auto;
      font-size: calc(1.3125rem + 0.75vw) !important;
   }
   .cardH3{
      font-size: 100%;
   }
}